<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Demon Eyes</title>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="public/css/app.css">
  </head>

  <body>
    <div class="nav">
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/app">App</a></li>
        <li><a href="/">Home</a></li>
        <li><a href="/">Home</a></li>
      </ul>
    </div>
    <div class="info">
      <h1>Your Friend Activity</h1>
    </div>

    <canvas id="myChart" width="400" height="400"></canvas>

    <script type="text/javascript" src="/public/js/dist/bundle.js"></script>
  </body>
  </html>